body {
  font-family: sans-serif;
  background-color: rgb(238, 251, 252);
}

h1 {
  text-align: center;
  margin: 2rem;
}

form {
  width: 40rem;
  margin: auto;
  background-color: rgb(246, 250, 255);
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
}

section {
  margin-bottom: 1rem;
}

label {
  color: rgb(66, 76, 97);
  margin: 0.5rem 0;
  display: block;
  font-weight: bold;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

textarea {
  resize: none;
}

input,
textarea,
select {
  width: 100%;
  display: block;
  margin-bottom: 1rem;
  box-sizing: border-box;
  font: inherit;
  border: 1px solid rgb(152, 159, 184);
  padding: 0.5rem;
  color: rgb(61, 58, 58);
}

input:focus,
textarea:focus {
  background-color: rgb(219, 190, 253);
  color: rgb(32, 5, 63);
  border-color: rgb(32, 5, 63);
}

#submit-container {
  display: flex;
  justify-content: end;
}

button {
  font: inherit;
  background-color: rgb(32, 5, 63);
  color: white;
  border: 1px solid rgb(32, 5, 63);
  padding: 0.5rem 1.5rem;
  margin-right: 1rem;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(52, 14, 95);
  border-color: rgb(52, 14, 95);
}

.radio-container {
  display: flex;
}
.radio-container input {
  width: auto;
  margin-right: 0.5rem;
}

.radio-container label {
  margin: 0;
}

.checkbox-container {
  display: flex;
}

.checkbox-container input {
  width: auto;
  margin-right: 0.5rem;
}

.checkbox-container label {
  margin: 0;
}
