header {
  margin-bottom: 20px;
}
body {
  text-align: center;
  background-color: rgb(233, 215, 207);
  color: rgb(83, 75, 75);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
}
h1 {
  font-family: sans-serif;
  color: rgb(71, 6, 62);
  font-size: 80px;
  font-weight: bolder;
}

#description {
  margin: 12px;
}

p {
  font-family: "Fira sans", sans-serif;
}
a {
  color: white;
  text-decoration: none;
  font-family: "Oswald", sans-serif;
  border-radius: 10px;
  background-color: rgb(167, 1, 78);
  padding: 15px 30px;
  font-size: 30px;
  display: inline-block;
  margin: 0;
}
a:hover {
  background-color: rgb(180, 12, 90);
}

img {
  border-radius: 50%;
  width: 100px;
}

ol {
  list-style: none;
  padding: 0;
}

li {
  background-color: rgb(223, 136, 124);
  border-radius: 6px;
  margin: 10px;
  padding: 10px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}

h2 {
  color: rgb(78, 13, 5);
  font-family: "Oswald", sans-serif;
}

main p {
  margin: 12px;
  color: rgb(71, 29, 22);
}

.highlighted {
  background-color: rgb(224, 115, 124);
}
